<style>
  body {
  padding-top: 80px;
  text-align: center;
  font-family: monaco, monospace;
  background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-size: cover;
}
h1, h2 {
  display: inline-block;
  background: #fff;
}
h1 {
  font-size: 30px;
  
}
h2 {
  font-size: 20px;
}
span {
  background: #000 ;
  color: #fff;
}
.button {
    background-color: #6441A4 ; 
    border: none;
    color: white;
    margin-top: 40px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
</style>
<h1>Welcome to <span>blockpop.xyz</span></h1><br>
<h2>cryptocurrency tool for streamers</h2>
<br>
<a href="https://api.twitch.tv/kraken/oauth2/authorize?client_id={{twitch_id}}&redirect_uri=http://test.blockpop.xyz/twitch/auth/&response_type=code&scope=user:read:email" class="button">Sign in with Twitch</a>
